h1 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  margin-top: 20px;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-size: 24px;
  font-style: normal;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-style: normal;
}

p {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  /*font-style: normal;*/
}

body {
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.text-container {
  margin: 24px;
  background-color: white;
  text-align: justify;
  padding: 18px 32px;
  box-shadow: 2px 2px 6px rgba(18, 18, 18, 0.588);
  border-radius: 12px;
}

.btn-blue {
  text-decoration: none;
  color: whitesmoke;
  box-shadow: 3px 3px 8px rgba(54, 54, 54, 0.588);
  padding: 18px 18px;
  background-color: rgb(25, 25, 25);
  display: inline-block;
  margin-top: 8px;
  border-radius: 12px;
}

.btn-blue:hover {
  background-color: #000000;
  transition: 0.2s;
  color: rgb(226, 17, 17);
}


a {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-style: normal;
}

#profile-pic {
  border-radius: 24px;
  box-shadow: 3px 3px 8px rgba(54, 54, 54, 0.588);
}

.background {
  width: 64vw;
  margin: auto;
  background-color: rgb(214, 214, 214);
  box-shadow: 2px 2px 6px rgba(18, 18, 18, 0.588);
  border-radius: 12px;
  padding: 8px 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
